<!-- <!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Manage Node.js projects and npm packages using package.json</h1>
         <h3>Part 1 of Free Code Camp Backend Challenges</h3>
      </div>
   </body>

</html> -->

<!DOCTYPE html>
<html>

   <head>
     <title>URL Shortener Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
  </head>
<body>
  <h1>FreeCodeCamp API Project: URL Shortener Microservice</h1>
  <h3>
    User stories:
  </h3>

  <ul>
    <li>Passing a URL as a parameter will retrieve a shortened URL in the JSON response.</li>
    <li>If an invalid URL is passed that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
    <li>When the shortened URL is used, it will redirect the user to the original link.</li>
  </ul>
  
  <p>
    <h3>Example creation usage:</h3>

    <ul>
      <li>https://md-url-shortener-microservice.glitch.me/new/https://www.google.com</li>
      <li>https://md-url-shortener-microservice.glitch.me/new/http://www.bing.com</li>
    </ul>

  <h3>Example creation output</h3>
    { "original_url":"www.bing.com", "short_url":"https://md-url-shortener-microservice.glitch.me/8170" }

    <h3>Usage:</h3>
    https://md-url-shortener-microservice.glitch.me/8170
      
  <h3>Will redirect to:</h3>
    https://www.bing.com/
  </p>
</body>
</html>
